<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.mybatis.dao.EmployeeDao">
  <resultMap id="EmployeeMap" type="com.boot.mybatis.entity.Employee">
    <id column="id" property="id" jdbcType="BIGINT"/>
    <result column="last_name" property="lastName" jdbcType="VARCHAR"/>
    <result column="email" property="email" jdbcType="VARCHAR"/>
    <result column="gender" property="gender" javaType="INTEGER"/>
    <result column="age" property="age" jdbcType="INTEGER"/>
  </resultMap>

  <sql id = "Employee_Base_List">
    id, last_name, email, gender, age
  </sql>

  <select id="getAll" resultMap="EmployeeMap">
    select
    <include refid="Employee_Base_List"/>
    from tbl_employee
  </select>

  <select id="getOne" parameterType="integer" resultMap="EmployeeMap">
    select
    <include refid="Employee_Base_List"/>
    from tbl_employee
    where id = #{id}
  </select>

  <insert id="insert" parameterType="com.boot.mybatis.entity.Employee">
    insert into tbl_employee(last_name, email, gender, age)
    values(#{lastName}, #{email}, #{gender}, #{age})
  </insert>
  
  <update id="update" parameterType="com.boot.mybatis.entity.Employee">
    update tbl_employee
    <trim prefix="set" suffixOverrides=",">
      <if test="lastName != null">
        last_name = #{lastName},
      </if>
      <if test="email != null">
        email = #{email},
      </if>
      <if test="gender != null">
        gender = #{gender},
      </if>
      <if test="age != null">
        age = #{age},
      </if>
    </trim>
    where id = #{id}
  </update>

  <delete id="delete" parameterType="integer">
    delete from tbl_employee
    where id = #{id}
  </delete>
</mapper>